{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading" style="color: white">Hi, This is Abhisek </h1>
              <p class="lead" style="color: white">I am Enthusiastic and Passionate about Computer Science and New Technologies</p>
          <p>
            <a href="mailto:abhisek1651990@gmail.com" class="btn btn-primary my-2">Email Me</a>

          </p>
            <div class="text-center">
            <img class=" img-thumbnail" src = "{% static 'my_pic.jpg'%}" style="height: 300px; width :300px " />
       </div>
        </div>
      </section>

      <div class="album py-5 bg-light" style="margin-top:200px">
        <div class="container">

            I am a Computer Science Graduate, love to work on web development, data analytics and machine learning.Currently working as a IT Analyst in IT Firm in India. <br />
            I primarily use Python as programming language and Django as framework.I love to learn new technologies and write articles on those topics.<br />


        </div>

          </div>




    </main>

{% endblock %}