{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


    <main role="main">

      <section class="jumbotron">
        <div class="container">
          <h1 class="jumbotron-heading" style="color: white;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;"">Hi, This is Abhisek </h1>
              <p class="lead" style="color: white; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;" >I am Enthusiastic and Passionate about Computer Science and New Technologies</p>
          <p>
            <a href="mailto:abhisek1651990@gmail.com" class="btn btn-primary my-2">GET IN TOUCH</a>

          </p>
            <div >
            <img class="img-thumbnail" src = "{% static 'my_image.png'%}" style="height: 250px; width :200px; align: " />
            </div>


        </div>



      </section>
           <div class="container text-left" >
            <div style="margin-left:250px;word-wrap: break-word;">
            Hello, My name is Abhisek Gantait.I am a Computer Science Graduate, Currently working as an IT Analyst in an IT Firm in India.
            I am basically from WestBengal, India and have lived in Kolkata, Pune and Chennai.Some of my favorite things to do are read,write articles,
            listen to music ,visiting places and of course coding. I love to work on Web development, data analysis and Machine Learning.
            I primarily use Python as programming language and Django framework for web development.<br />
            <br />
            I look up mostly to my family members, especially my father,as an inspiring figure in my life.
            My aspirations is to learn new technologies,write articles on those topics and build websites to guide learners
            I am fueled by my passion for understanding the various coding concepts.
            I consider myself a "forever student" eager to both build my programming foundations and stay in tune with the latest technologies.<br />
            </div>

        </div>





    </main>

{% endblock %}
